@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  position: relative;
  overflow: auto; /* Ensure scrolling is enabled */
}

.min-h-screen {
  min-height: 100vh;
}

.bg-transparent {
  background-color: transparent;
}

@media (max-width: 1024px) {
  body {
    background-size: 80%; /* Adjust size for smaller screens */
  }
}

@media (max-width: 768px) {
  body {
    background-size: 60%; /* Adjust size for smaller screens */
  }
}

@media (max-width: 480px) {
  body {
    background-size: 40%; /* Adjust size for smaller screens */
  }
}

/* Define keyframes for marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply marquee animation */
.animate-marquee {
  display: flex;
  width: calc(200% + 8px); /* Ensures the loop runs seamlessly */
  animation: marquee 60s linear infinite; /* Adjust duration as needed */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Marquee effect */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: flex;
  animation: marquee 60s linear infinite;
}

.marquee div {
  display: inline-block;
}
